doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/Public/Estilo.css')
    header Vamos a Encriptar Mensajería 
        div#ContenidoMensajeria 

            p Mensajería Encriptada 
            div#Encriptada 
                label(for="MensajeE") Mensaje Normal 
                input(type="text", value='Mensaje', name='MensajeE')#MensajeE 
                button#Encriptar Encriptar
            div#Desencriptada
                label(for="MensajeD") Mensaje Encriptado 
                input(type="text", name="MensajeD")#MensajeD
                button Desencriptar
            div#Resultado 
                label(for="Resultado") Resultado 
                input(type="text", name="Resultado")#Resultado
        input(type="button", value="Datos", onlick= Funciones())
        script. 
            alert('Hola Mundo once again');
